     <!-- passing data to header -->     <!-- listen data from header and invoke the function in parent-->
<app-header [msg]="msg" [name]="name" (toParent)='requestData($event)'></app-header>
<br>
<hr>
<br>

<p>                                  
  news works!
</p>
 <button (click)="requestData()">click</button>
 <br>
 <hr>
<ul>
  <li *ngFor='let item of dd'>
    {{item.title}}

  </li>
</ul> 

<button (click)="requestJsonpData()">click JsonP</button>

<br>
<hr>
<button (click)="postData()">click Post</button><br>


<br>

<ul>
  <li *ngFor='let item of dd'>
    {{item.title}}

  </li>
</ul>
<br>

<hr>
